<?php
return array(
    'modules' => array(
        'DoctrineModule',
        'DoctrineMongoODMModule',
        'Sds\DoctrineExtensionsModule'
    ),
    'module_listener_options' => array(
        'module_paths' => array(
            './vendor',
        ),
    ),
    'service_manager' => array(
        'invokables' => array(
            'testActiveUser' => 'Sds\DoctrineExtensionsModule\Test\TestAsset\ActiveUser'
        )
    ),
);